{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Page title-->
{% block extra_title %} Newsletter List{% endblock %}

{% block content %}
    <section>
        <!-- Newsletter list container -->
        <div class="container mt-5 px-1" itemscope>
            <div class="row">
                <div class="col-md-10 col-lg-10 col-11 mx-auto m-2">
                    <!-- Newsletter list table -->
                    <div class="card p-3" itemscope itemtype="https://schema.org/EmailMessage">
                        <h1 class="text-center"><strong>Sent Newsletters </strong></h1>
                        <hr>
                        {% if object_list %}
                            <table class="table table-responsive align-middle">
                                <thead>
                                    <tr>
                                        <th scope="col" itemprop="datesent">Send Date</th>
                                        <th scope="col" itemprop="subject">Subject</th>
                                        <th scope="col" itemprop="message">Body</th>
                                    </tr>
                                </thead>
                                {% for newsletter in object_list %}
                                    <tbody>
                                        <tr>
                                            <td>{{ newsletter.created }} </td>
                                            <td>{{ newsletter.subject }}</td>
                                            <td>{{ newsletter.body }}</td>
                                        </tr>
                                    </tbody>
                                {% endfor %}
                            </table>
                        {% else %}
                            <!-- No newsletter container -->
                            <div class="text-center m-4">
                                There's no newsletter. Send the first one
                                <a href="{% url 'send' %}" class="text-success fw-bold">here.</a>
                            </div>
                        {% endif %}

                        <!-- Cards pagination  -->
                        <nav aria-label="Page navigation example ">      
                            <ul class="pagination justify-content-center m-0 mx-auto">                                                    
                                {% if page_obj.has_previous %}
                                    <!-- First button -->
                                    <li class="page-item"><a class="page-link bg-warning text-dark fw-bold border-1 rounded-3 mb-2 mx-1" href="?page=1">First</a></li>                                
                                    <!-- Previous button -->
                                    <li class="page-item"><a class="page-link  bg-warning text-dark fw-bold border-1 rounded-3 mb-2 mx-1" 
                                        href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
                                {% endif %}                                                        
                                {% if page_obj.has_next %}
                                    <!-- Next button -->
                                    <li class="page-item">
                                        <a class="page-link  bg-warning text-dark fw-bold border-1 rounded-3 mb-2 mx-1" 
                                        href="?page={{ page_obj.next_page_number }}">Next
                                        </a>
                                    </li>
                                    <!-- Last button -->
                                    <li class="page-item">
                                        <a class="page-link  bg-warning text-dark fw-bold border-1 rounded-3 mb-2 mx-1"
                                            href="?page={{ page_obj.paginator.num_pages }}">Last
                                        </a>
                                    </li>                                    
                                {% endif %}
                            </ul>
                        </nav>
                        <div class="text-center">
                            <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2">
                                <i class="fas fa-arrow-circle-left"></i> Back
                            </a>
                        </div>
                    </div>                   
                </div>
            </div>
        </div>        
    </section>
{% endblock %}