{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block page_header %}
{% endblock %}

{% block extra_title %}Newsletter subscription{% endblock %}

{% block content %}
<!-- Subscribvbe container -->
<div class="container mt-5 px-1" >
    <div class="row">
        <div class="col-md-10 col-lg-10 col-11 mx-auto">
            <div class="card p-3" itemscope itemtype="https://schema.org/SubscribeAction">
                <h2 class="text-center m-4 fw-bold" itemprop="newsletter">
                    Sign Up to The Regional Taste Newsletter
                </h2>
                <div class="text-center m-4">
                    <!-- Subscribe form -->
                    <form method='POST'>
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="btn btn-warning">Subscribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}