{% extends "base.html" %}

{% block jumbotron %}
{% endblock %}

{% load static %}

<!-- Customizible CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}">
{% endblock %}

<!-- Page title -->
{% block extra_title %}Cart{% endblock %}


{% block content %}


<table class="table">
    <thead>
        <tr>
            
            <th scope="col"></th>
            <th scope="col">Box</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price Box</th>
            <th scope="col">Total</th>
        </tr>
    </thead>
    <tbody>
{{ order.get_cart_items }}

        {% for item in items %}
        <tr>            
            <td class="box_image">
                <img src="{{ item.box.box_image.url }}" class="rounded-3 w-100 " alt="{{ item.box_image }}">
            </td>
            <td class="item"> {{ item.box}} </td>
            <td class="quantity">
                <div>
                    <p class="quantity">{{ item.quantity}}</p>
                    <div class="quantity">
                        <img data-product="" data-action="add" class="chg-quantity update-cart"
                            src="{{ MEDIA_URL }}arrow-up.png">

                        <img data-product="{{item.product.id}}" data-action="remove" class="chg-quantity update-cart"
                            src="{{ MEDIA_URL }}arrow-down.png"></div>
                </div>
            </td>
            <td class="price">{{item.box.box_price}}</td>
            <td class="total">{{item.get_total}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




{% endblock %}
<!-- Customizible JS -->
{% block postloadjs %}

{% endblock %}