{% extends "base.html" %}
{% load static %}

<!-- Page title -->
{% block extra_title %} Home{% endblock %}

<!-- Customizible CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
<section>
    <!--Welcome jumbotron -->
    <div class=" container container-box-home bg-light  rounded text-dark text-center p-2 col-lg-4 col-11 float-start">
        <div class="row justify-content-start h-100">
            <div class="col my-auto" itemscope itemtype="https://schema.org/Store" >
                <h2 class="lead " itemprop="description">Missing your home country or want to try a new cuisine?             
                </h2>
                <h1 class="display-6 fw-bold"><strong>Welcome to The Regional Taste</strong></h1>
                <h2 class="lead " itemprop="description">We deliver a piece of your favourite cuisine at your door!</h2>
                <!-- Shop redirect button -->
                <a class="btn btn-warning m-2 p-3 fw-bold" itemprop="url" href="{% url 'boxes' %}">Shop Now!</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}