{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block extra_title %}| Profile{% endblock %}

{% block content %}
<!--Profile Container-->
<div class="container mt-5 px-1" itemscope itemtype="https://schema.org/GroceryStore">
    <div class="row">
        <div class="col-md-8">
            <div class="card p-3">
                <h2 class="logo-font mb-4 text-center" itemtype="user profile"><i class="fas fa-user-circle"></i> My
                    Profile</h2>
                <hr>
                <div>
                    <!--Personal Details -->
                    <p class="lead fw-bolder" itemtype="personal details">My personal details</p>
                    <p>Username: {{ customer.username }} | Email: {{ customer.email}}</p>
                    <p>First Name: {{ customer.first_name }} | Last Name: {{ customer.first_name }}</p>
                    <hr>
                    <div class="row ">
                        <!--Shipping Address Details -->
                        <div class="col-md-6 mx-auto" itemtype="shipping">
                            {% if not shipping_address.address1  %}
                                <p class="lead fw-bolder"><i class="fas fa-truck"></i> Add your Default Shipping Address
                                    <a href="{% url 'update_profile'%}"><i class="fas fa-edit"></i>
                                    </a>
                                </p>
                            {% else %}
                                <p class="lead fw-bolder"><i class="fas fa-truck"></i> Default Shipping Address
                                    <a href="{% url 'update_profile'%}"><i class="fas fa-edit"></i>
                                    </a>
                                </p>
                                <p>{{shipping_address.address1}},</p>
                                <p>{{shipping_address.address2}}</p>
                                <p>{{shipping_address.county}}, {{shipping_address.country}}</p>
                                <p>EirCode:{{shipping_address.eircode}}</p>
                            {% endif %}
                        </div>
                        <!--Billing Address Details -->
                        <div class="col-md-6 mx-auto" itemtype="billing">
                            {% if not billing_address.address1  %}
                                <p class="lead fw-bolder"><i class="fas fa-truck"></i> Add your Default Shipping Address
                                        <a href="{% url 'update_profile'%}"><i class="fas fa-edit"></i>
                                    </a>
                                </p>
                                {% else %}
                                    <p class="lead fw-bolder">
                                        <i class="fas fa-file-invoice"></i> Default Billing Address
                                        <a href="{% url 'update_profile'%}"><i class="fas fa-edit"></i>
                                        </a>
                                    </p>
                                    <p>{{billing_address.address1}},</p>
                                    <p>{{billing_address.address2}}</p>
                                    <p>{{billing_address.county}}, {{billing_address.country}}</p>
                                    <p>EirCode:{{billing_address.eircode}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Orders history container-->
        <div class="col-md-4" itemscope>
            <div class="card p-3" itemtype="orders">
                <p> My previous orders</p>
                <hr>
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Items</th>
                            <th>Quantity</th>
                            <th>Order Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in ordered_boxes %}
                        <tr>
                            <td>{{ order.date_ordered }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li class="small">
                                        {{ order.box.box_name }}
                                    </li>
                                </ul>
                            </td>
                            <td>{{ order.orderbox.box_name }}</td>
                            <td>{{ order.get_total }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}