html {
    height: 100%;
}

.body {
    padding-bottom: 20vh !important;
}

h1, h2, h3, h4, h5 {
    font-family: 'Roboto Slab', serif!important;
}

p, a {
    font-family: 'Lato', sans-serif!important;
}


input:focus {
    outline: none!important;
    border-color: none!important;
    box-shadow: 0 0 0 1px gray!important; /*change this color */ 
 }

@media only screen and (max-width: 600px) {

    body {
        padding-bottom: 1000px !important;
    }

}
