:root {
    --red: #cc272e;
    --white: #f7F7F1;
    --black: #09090b;
    --green: #465214;
    --orange: #f38427;
    --yellow: #ffce0a;
}

html {
    height: 100%;
}

.body {
    padding-bottom: 20vh !important;
    background-image: url(/media/background-lights.jpg);
    background-size: cover;
}

/*Typograph*/

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Roboto Slab', serif !important;
}


.small-text{
    font-size: 15px!important;
}
p,
a {
    font-family: 'Lato', sans-serif !important;
}

.text-green {
    color: var(--green) !important;
}

.text-yellow {
    color: var(--yellow) !important;
}

.text-red {
    color: var(--red) !important;
}


/* Buttons */

.btn-danger {
    background-color: var(--red) !important;
    border-color: var(--red) !important;
}


.btn-success {
    background-color: var(--green) !important;
    border-color: var(--green) !important;
}

.btn-warning {
    background-color: var(--yellow) !important;
    border-color: var(--yellow) !important;
}

.btn:hover {
    transform: scale(1.2);
    transition: transform 330ms ease-in-out;
    font-weight: 600;
}

input:focus {
    outline: none !important;
    border-color: none !important;
    box-shadow: 0 0 0 1px gray !important;
    /*change this color */
}

/* Alerts */

.alert-box {
    width: 30% !important;
    border-left-color: darkorange;
    border-left-width: 10px;
    background-color: white !important;
    z-index: 90000;
    position: absolute;
    opacity: 0.95;
    right: 0;
}

/* Form control colors */ 

.form-control:focus {
    border-color: var(--orange);
    box-shadow: var(--orange);
} 


.form-check-input:checked{
    background-color: var(--green);
    border-color: var(--black);
}

/* cart */ 

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.box_image {
	height: 150px!important;
	width:150px!important;
}

.cart-item-quantity{
	flex:1!important;
}

/* checkout */ 
img {
    width: 20px!important;
}

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#payment-form .form-control,
#card-element {
    color: #000;
    border: 1px solid #000;
}

/* navbar */

.jumbotron-img {
    height: 30vh;
    width: 100%;
    object-fit: cover;
}

.nav-link.active {
    font-weight: bolder !important;
    background-color: var(--yellow) !important;

}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    background-color: var(--yellow) !important;
    color: var(--black) !important;
    font-weight: bolder;
}

.dropdown-item.active, .dropdown-item:active, .dropdown-item:hover {
    color: var(--black);
    background-color: var(--yellow)!important;
    font-weight: bolder;
}

/* order */

.order_detail_img{
    height: 10vw;
    width: 10vh;
}

/* index */


.card {
    border: none
}

.container-box-home {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
}

/* payment */ 

.__PrivateStripeElement {
    margin: 0px !important;
    padding: 0px !important;
    border: none !important;
    display: block !important;
    background: transparent !important;
    position: relative !important;
    opacity: 1 !important;
  }
  
  .__privateStripeFrame5 {
    border: none !important;
    margin: 0px !important;
    padding: 0px !important;
    width: 1px !important;
    min-width: 100% !important;
    overflow: hidden !important;
    display: block !important;
    height: 19.2px;
  }
  
  .__PrivateStripeElement-input {
    border: none !important;
    display: block !important;
    position: absolute !important;
    height: 1px !important;
    top: 0px !important;
    left: 0px !important;
    padding: 0px !important;
    margin: 0px !important;
    width: 100% !important;
    opacity: 0 !important;
    background: transparent !important;
    pointer-events: none !important;
    font-size: 16px !important;
  }
  
  /* css from just django*/
  
  #stripeBtnLabel {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-variant: normal;
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    display: block;
  }
  
  #stripeBtn {
    border: none;
    border-radius: 4px;
    outline: none;
    text-decoration: none;
    color: #fff;
    background: #32325d;
    white-space: nowrap;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    border-radius: 4px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.025em;
    text-decoration: none;
    -webkit-transition: all 150ms ease;
    transition: all 150ms ease;
    float: left;
    width: 100%
  }
  
  button:hover {
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50, 50, 93, .10), 0 3px 6px rgba(0, 0, 0, .08);
    background-color: #43458b;
  }
  
  .stripe-form {
    padding: 5px 30px;
  }
  
  #card-errors {
    height: 20px;
    padding: 4px 0;
    color: #fa755a;
  }
  
  .stripe-form-row {
    width: 100%;
    float: left;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  
  /**
     * The CSS shown here will not be introduced in the Quickstart guide, but shows
     * how you can use CSS to style your Element's container.
     */
  .StripeElement {
    box-sizing: border-box;
  
    height: 40px;
  
    padding: 10px 12px;
  
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;
  
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }
  
  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }
  
  .StripeElement--invalid {
    border-color: #fa755a;
  }
  
  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }
  
  .current-card-form {
    display: none;
  }


  /* products */


/*Producs container */
.card-body-list{
    height:100px;
}
.product-image {
    height: 20vh;
}
/* 
.box-image-detail{
    max-height: 30vh;
    max-width: 20vw;
} */

.products-container {
    width: 70%;
    margin-top:2%;
}

.product-image {
    width: 200px;
    height: 200px;
}

.products-container {
    padding-bottom: 2vh !important;
}

.checked {
    color: rgb(214, 125, 62);
}


/*Media queries*/

@media only screen and (max-width: 900px) {

    body {
        background-position: center;
    }

    .alert-box {
        width: 50% !important;
    }

    .container-box-home {
        /* position: absolute; */
        /* top: 40%; */
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .products-container {
        width: 90%;
    }

}

@media only screen and (max-width: 600px) {

    body {
        padding-bottom: 1000px !important;
        background-position: center;
    }

    .alert-box {
        width: 100% !important;
    }

    .card-body-list{
        height:fit-content;
    }

}


@media only screen and (max-width: 400px) {
    .container-box-home {
        z-index: -1;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
    }

    .products-container {
        margin-bottom: 15vh !important;
    }

}