.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.box_image {
	height: 150px!important;
	width:150px!important;
}

.cart-item-quantity{
	flex:1!important;
}




