.body {
    background-image: url(/media/background-lights.jpg)!important;

}

/*Producs container */
.card-body-list{
    height:100px;
}
.product-image {
    height: 20vh;
}
/* 
.box-image-detail{
    max-height: 30vh;
    max-width: 20vw;
} */

.products-container {
    width: 70%;
    margin-top:2%;
}

.product-image {
    width: 200px;
    height: 200px;
}

.products-container {
    padding-bottom: 2vh !important;
}

.checked {
    color: rgb(214, 125, 62);
}


.form-check-input:checked{
    background-color: grey!important;
    border-color: grey!important;
}

.form-check-input:focus{
    color:yellow!important;
}



/* Media query medium screen*/
@media only screen and (max-width: 900px) {
    .products-container {
        width: 90%;
    }
    /* .box-image-detail{
        max-height: 100%;
        max-width: 100%;
    } */
}

/* Media query small screen*/
@media only screen and (max-width: 600px) {
    .card-body-list{
        height:fit-content;
    }

}

/* Media query xs screen*/
@media only screen and (max-width: 400px) {

    .products-container {
        margin-bottom: 15vh !important;
    }
}