{% load static %}


<footer class="bg-light bg-gradient text-center fixed-bottom">
  <!-- Grid container -->
  <div class="container pb-0">
    <div class="row d-flex justify-content-center pt-1">
      <div class="col-auto">
        <p class="text-dark m-0">
          <a href="{% url 'subscribe'%}" class="text-dark"><strong>Sign up for our newsletter</strong></a>
        </p>
        <div class="m-0">
          <!-- Linkedin -->
          <a class="m-3 footer-button text-black" href="https://www.linkedin.com/in/fernanda-brito200585/" role="button"
            target="_blank" aria-label="linkedin link"><i class="fab fa-lg fa-linkedin-in"></i></a>

          <!-- Github -->
          <a class="m-3 footer-button text-black" href="https://github.com/nandabritto" role="button" target="_blank"
            aria-label="github link"><i class="fab fa-lg fa-github"></i></a>

              <!-- Facebook -->
          <a class="m-3 footer-button text-black" href="https://www.facebook.com/The-regional-taste-100218465935917" role="button" target="_blank"
          aria-label="facebook link"><i class=" fa-lg	fa fa-facebook-f"></i></a>
          
        </div>
        <!-- Copyright -->
          <p class="text-center text-dark small m-0">
        
          © 2021 Copyright
        </p>
      </div>
    </div>
  </div>
</footer>