{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">
{% endblock %}

<footer class="bg-light bg-gradient text-center fixed-bottom">
  <!-- Grid container -->
  <div class="container p-1 pb-0">
    <div class="row d-flex justify-content-center pt-1">
      <div class="col-auto">
        <p class="text-dark pt-2">
          <a href="{% url 'subscribe'%}"><strong>Sign up for our newsletter</strong></a>
        </p>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="text-center pb-2 text-dark small copyright">
    © 2021 Copyright
  </div>

</footer>