{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/footer.css' %}">  
{% endblock %}

<footer class="bg-dark bg-gradient text-center fixed-bottom ">
    <!-- Grid container -->
    <div class="container p-1 pb-0">
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <div class="row d-flex justify-content-center pt-1">
            <!--Grid column-->
            <div class="col-auto">
              <p class="text-light pt-2">
                <strong>Sign up for our newsletter</strong>
              </p>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-md-5 col-12">
              <!-- Email input -->
              <div class="form-outline">
                <input type="email" id="form5Example27" class="form-control border-0" placeholder= "Add your email here"/>                
              </div>
            </div>
            <!--Grid column-->
  
            <!--Grid column-->
            <div class="col-auto">
              <!-- Submit button -->
              <button type="submit" class="btn btn-outline-secondary btn-light">
                Subscribe
              </button>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
    </div>
    <!-- Grid container -->
  
    <!-- Copyright -->
    <div class="text-center pb-2 text-light small copyright">
      © 2021 Copyright
    </div>
    <!-- Copyright -->
  </footer>