{% load static %}
{% load active_link_tags %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <a class="navbar-brand fw-bolder" href="{% url 'home' %}">The regional Taste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flot-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="{% url 'howitworks' %}" class="nav-link {% active_link 'howitworks' %}">How it
                        works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {% active_link 'boxes' %}" href="{% url 'boxes' %}">Boxes</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"><i class="fas fa-user fa-lg text-dark "></i>
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_staff %}
                                <li><a href="{% url 'management' %}" class="dropdown-item">Product Management</a></li>
                            {% endif %}
                                <li><a href="{% url 'profile' %}" class="dropdown-item">My Profile</a></li>
                                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'account_signup' %}" class="dropdown-item">Register</a></li>
                                <li><a href="{% url 'account_login' %}" class="dropdown-item">Login</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div>
                <div class="mx-0">
                    <ul class="navbar-nav mx-1 my-2">
                        <li class="btn position-relative">
                            <a href="{% url 'cart' %}">
                                <i class="fa fa-shopping-cart text-black" aria-hidden="true"></i>
                                <span
                                    class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    {{cart_items_count}}
                                    <span class="visually-hidden">Cart Items</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
