{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/navbar.css' %}">
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid ">
        <a class="navbar-brand" href="{% url 'home' %}">The regional Taste</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse flot-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">How it works</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About Us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'boxes' %}">All</a></li>
                        <li><a class="dropdown-item" href="{% url 'product_details' 1 %}">Brazilian Box</a></li>
                        <li><a class="dropdown-item" href="{% url 'product_details' 2  %}">Spanish Box</a></li>
                        <li><a class="dropdown-item" href="#">Asian Box</a></li>
                    </ul>
                </li>
            </ul>

            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-lg text-dark "></i>
                        Account
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        {% if request.user.is_authenticated %}
                            {% if request.user.is_superuser %}
                            <a href="{% url 'management' %}" class="dropdown-item">Product Management</a>
                            {% endif %}
                        <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                        {% else %}
                        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <div>
            <ul class="navbar-nav mx-1 my-2">
                <a href="{% url 'cart' %}"> <li class="btn position-relative">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                      {{request.session.cartItems}}
                      <span class="visually-hidden">Cart Items</span>
                    </span>
                </li></a>
            </ul>
        </div>
            

        </div>
        
    </div>
</nav>