{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}
{% block extra_title %} Confirm E-mail Addresss{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10 col-lg-10 col-11 ">
            <div class="card px-5 py-4 border-0 shadow-lg p-3 mb-5 bg-body rounded" id="form1">
                <div class="form-data">
                    <div class="text-center mb-4">
                        <h1>{% trans "Confirm E-mail Address" %}</h1>

                        {% if confirmation %}

                        {% user_display confirmation.email_address.user as user_display %}

                        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a class= "link-secondary fw-bold"
                                href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user
                            {{ user_display }}.{% endblocktrans %}</p>
                    </div>

                    <form class="text-center m-1" method="post"
                        action="{% url 'account_confirm_email' confirmation.key %}">
                        {% csrf_token %}
                        <button class=" btn btn-dark w-50" type="submit">{% trans 'Confirm' %}</button>
                    </form>

                    {% else %}

                    {% url 'account_email' as email_url %}

                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a class= "link-secondary fw-bold"
                            href="{{ email_url }}" >issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}