{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% block extra_title %} Login{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}


<div class="container mt-5">
  <div class="row d-flex justify-content-center ">
    <div class="col-md-7 col-lg-5 col-11">
      <div class="card px-5 py-4 border-0 shadow-lg p-3 mb-5 bg-body rounded" id="form1">
        <div class="form-data" v-if="!submitted">
          <div class="text-center mb-4">
            <h1>{% trans "Log In" %}</h1>

            {% if socialaccount_providers %}
            <p>{% blocktrans with site.name as site_name %}Please sign in with one
              of your existing third party accounts. Or, <a  href="{{ signup_url }}" class="link-secondary">sign up</a>
              for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

            <div class="socialaccount_ballot">

              <ul class="socialaccount_providers">
                {% include "socialaccount/snippets/provider_list.html" with process="login" %}
              </ul>

              <div class="login-or">{% trans 'or' %}</div>

            </div>

            {% include "socialaccount/snippets/login_extra.html" %}

            {% else %}
            <p>{% blocktrans %}If you have not created an account yet, then please
              <a href="{{ signup_url }}" class="link-secondary fw-bold" >sign up</a> first.{% endblocktrans %}</p>
            {% endif %}
          </div>

          <form class="login text-center m-1" method="POST" action="{% url 'account_login' %}">
            {% csrf_token %}
            {% for field in form %}
                {{ field|as_crispy_field  }} 
              {% endfor %}
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <p class=" m-2">
            <a class="button secondary Action link-secondary fw-bold"
              href="{% url 'account_reset_password' %}" >{% trans "Forgot Password?" %}</a></p>
            <button class="primaryAction btn btn-dark w-50" type="submit">{% trans "Sign In" %}</button>
          </form>

        </div>

      </div>
    </div>
  </div>
</div>

{% endblock %}