{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block extra_title %} Change Password{% endblock %}

{% block content %}

<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-7 col-lg-5 col-11 ">
      <div class="card px-5 py-4 border-0 shadow-lg p-3 mb-5 bg-body rounded" id="form1">
        <div class="form-data">
          <div class="text-center mb-4">
            <h1>{% trans "Change Password" %}</h1>
            <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}"
                class="link-secondary fw-bold">log
                in</a>.{% endblocktrans %}</p>
          </div>

          <form class="signup text-center m-1 password_change" method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {{ form|crispy  }}
          <button class="primaryAction btn btn-dark w-50" type="submit">{% trans "Change Password" %}</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}