{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}


<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 col-lg-5 col-11 ">
            <div class="card px-5 py-4 border-0 shadow-lg p-3 mb-5 bg-body rounded" id="form1">
                <div class="form-data" v-if="!submitted">
                    <div class="text-center mb-4">
                        <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}
                        </h1>
                        {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been
                            used. Please request a <a href="{{ passwd_reset_url }}">new password
                                reset</a>.{% endblocktrans %}</p>
                        {% else %}
                        {% if form %}
                    </div>

                    <form method="POST" action="{{ action_url }}" class="password_reset text-center m-1">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <input class="btn btn-dark w-50" type="submit" name="action"
                            value="{% trans 'change password' %}" />
                    </form>
                    {% else %}
                    <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}