{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7 col-lg-5 col-11 ">
            <div class="card px-5 py-4 border-0 shadow-lg p-3 mb-5 bg-body rounded" id="form1">
                <div class="form-data" v-if="!submitted">
                    <div class="text-center mb-4">
                        <h1>{% trans "Set Password" %}</h1>                        
                    </div>
                    <form method="POST" action="{% url 'account_set_password' %}" class="password_set text-center m-1">
                        {% csrf_token %}
                        {{ form|crispy}}
                        <input type="submit" class= "btn btn-dark w-50" name="action" value="{% trans 'Set Password' %}"/>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
    
{% endblock %}
