{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/order.css' %}">
{% endblock %}

{% block extra_title %}|Order Details{% endblock %}

{% block content %}
<!--Order Detail Container-->
<div class="container mt-5 " itemscope itemtype="https://schema.org/GroceryStore">
    <div class="row">
        <div class="col-md-6 col-12 col-lg-5 mb-2 mx-auto">
            <div class="card p-3">
                <h2 class="logo-font mb-3 text-center" itemtype="order summary"> <i
                        class="fa-solid fa-circle-info"></i>Order
                    Details</h2>
                <hr>
                <div class>
                    <div class="row d-flex align-items-center">
                        <!-- Boxes details-->
                        {% for order in order_ctxt %}
                        {% if object.id == order.order_id %}
                        {% for item in order.items %}
                        <div class="col-4 p-3"> <img class="img-fluid" src="{{ item.box.box_image.url }}"> </div>
                        <div class="col-4">
                            <div class="row ">
                                <p>{{ item.box |title}}</p>
                            </div>
                            <div class="row">
                                <p class="text-muted">{{ item.quantity }} unit(s)</p>
                            </div>
                        </div>
                        <div class="col-4">
                            <p class="text-end">Unit Price: €{{ item.box.box_price |title}}</p>
                        </div>
                        {% endfor %}
                    </div>
                    <!-- Order details-->
                    <div class="text-end">
                        <p>Total items: {{ order.itemsCount }}</p>
                        <p>Shipping: €{{order.shipping}}</p>
                        <p>Order total: €{{order.get_cart_total}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Orders history container-->
        <div class="col-md-6 col-12 col-lg-5" itemscope>
            <div class="card p-3" itemtype="orders">
                <h3 class="fw-bold"> My previous orders</h3>
                <hr>
                <table class="table table-sm table-borderless text-center">
                    <thead>
                        <tr>
                            <th>Order No</th>
                            <th>Qt</th>
                            <th>Shipping</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in order_ctxt %}
                        <tr>
                            <td><a class= "text-black text-decoration-none" href="{% url 'order_detail' order.order_id %}">{{ order.order_id }}</a>
                            </td>
                            <td>{{ order.itemsCount }}</td>
                            <td>€ {{order.shipping}}</td>
                            <td>€ {{order.get_cart_total}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script type="text/javascript" src="{% static 'js/countryfield.js' %}"></script>

{% endblock %}