{% extends "base.html" %}

{% load static %}

<!-- Page title -->
{% block extra_title %} Order Details{% endblock %}

{% block content %}
    <section>
        <!--Order Detail Container-->
        <div class="container mt-5 " itemscope itemtype="https://schema.org/Order">
            <div class="row">
                <div class="col-md-6 col-12 col-lg-5 mb-2 mx-auto">
                    <div class="card p-3">
                        <h2 class="logo-font mb-3 text-center">
                            <i class="fa-solid fa-circle-info"></i>Order Details
                        </h2>
                        <hr>
                        <div>
                            <!-- Boxes details--> 
                            <div class="row d-flex align-items-center" itemscope itemtype="https://schema.org/Order">
                                {% for order in order_ctxt %}
                                
                                
                                {% if object.id == order.order_id %}
                                {{ order.shipping_address}}
                                <p class="lead fw-bold" itemprop="productID">Order number: {{ order.order_id }}</p>
                                {% for item in order.items %}
                                            
                                                <div class="col-4 p-3" itemscope itemtype="https://schema.org/Order">
                                                    <img class="img-fluid" src="{{ item.box.box_image.url }}" itemprop="image"
                                                        alt="{{ item.box_name }}">
                                                </div>
                                                <div class="col-4" itemscope itemtype="https://schema.org/Order">
                                                    <div class="row" itemprop="orderedItem">
                                                        <p>{{ item.box |title}}</p>
                                                    </div>
                                                    <div class="row" itemscope itemtype="https://schema.org/Order">
                                                        <p class="text-muted" itemprop="quantity">{{ item.quantity }} unit(s)
                                                        </p>
                                                    </div>
                                                </div>
                                                <div class="col-4" itemscope itemtype="https://schema.org/Order">
                                                    <p class="text-end" itemprop="price">Unit Price:
                                                        €{{ item.box.box_price |title}}</p>
                                                </div>

                                                
                                            {% endfor %}
                                            <!-- Order details -->
                                            <div class="text-end">
                                                <p>Total items: {{ order.itemsCount }}</p>
                                                <p>Shipping: €{{order.shipping}}</p>
                                                <p>Order total: €{{order.get_cart_total}}</p>
                                            </div>
                                        {% endif %}
                                {% endfor %}
                                </div>
                            </div>
                        <div class="text-center">
                            <button class="btn btn-lg btn-dark mx-2" onclick="history.back()">
                                <i class="fas fa-arrow-circle-left"></i> Go Back
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Orders history container -->
                <div class="col-md-6 col-12 col-lg-5" itemscope itemtype="https://schema.org/Order">
                    <div class="card p-3" itemprop="orderedItem">
                        <h3 class="fw-bold"> My previous orders</h3>
                        <hr>
                        <!-- Orders history details table -->
                        <table class="table table-sm table-borderless text-center">
                            <thead>
                                <tr>
                                    <th>Order No</th>
                                    <th>Qt</th>
                                    <th>Shipping</th>
                                    <th>Total</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in order_ctxt|slice:10 %}
                                    <tr>
                                        <td><a class="text-black text-decoration-none"
                                                href="{% url 'order_detail' order.order_id %}">{{ order.order_id }}
                                            </a>
                                        </td>
                                        <td>{{ order.itemsCount }}</td>
                                        <td>€ {{order.shipping}}.00</td>
                                        <td>€ {{order.get_cart_total}}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

<!-- Customiible JS -->
{% block postloadjs %}
<script src="{% static 'js/countryfield.js' %}"></script>
{% endblock %}