{% extends "base.html" %}
{% load static %}


<!-- Customizible CSS -->
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/payment.css' %}">
{% endblock %}

{% block content %}
<!--Payment Container -->
<main>
  <div class="container my-5">
    <div class="row">
      <div class="col-4 text-center mx-auto">
        <div class="card" itemscope itemtype="https://schema.org/PaymentCard">
          <h2 class="my-2 h2 text-center">Payment</h2>
          <hr>
          {% if card %}
          <div>
            <div class="custom-control custom-checkbox" itemprop="category">
              <input type="checkbox" class="custom-control-input" name="use_default_card" id="use_default_card">
              <label class="custom-control-label" for="use_default_card">Use default card:
                **** **** **** {{ card.last4 }}
                <span>Exp: {{ card.exp_month }}/{{ card.exp_year }}</span></label>
            </div>
          </div>
          {% endif %}

          <div class="current-card-form" itemprop="category">
            <form action="." method="post" class="stripe-form">
              {% csrf_token %}
              <input type="hidden" name="use_default" value="true">
              <div class="stripe-form-row">
                <button id="stripeBtn" class="btn-success">Submit Payment</button>
              </div>
              <div id="card-errors" role="alert"></div>
            </form>
          </div>
          <!--Cart input Container -->
          <div class="new-card-form" itemprop="category">
            <form action="." method="post" class="stripe-form" id="stripe-form">
              {% csrf_token %}
              <div class="stripe-form-row" id="creditCard">
                <label for="card-element" id="stripeBtnLabel">
                  Credit or debit card
                </label>
                <div id="card-element" class="StripeElement StripeElement--empty">
                  <div class="__PrivateStripeElement">
                    <iframe frameborder="0" allowtransparency="true" scrolling="no" name="__privateStripeFrame5"
                      allowpaymentrequest="true" class=" __privateStripeFrame5"
                      src="https://js.stripe.com/v3/elements-inner-card-19066928f2ed1ba3ffada645e45f5b50.html#style[base][color]=%2332325d&amp;style[base][fontFamily]=%22Helvetica+Neue%22%2C+Helvetica%2C+sans-serif&amp;style[base][fontSmoothing]=antialiased&amp;style[base][fontSize]=16px&amp;style[base][::placeholder][color]=%23aab7c4&amp;style[invalid][color]=%23fa755a&amp;style[invalid][iconColor]=%23fa755a&amp;componentName=card&amp;wait=false&amp;rtl=false&amp;keyMode=test&amp;origin=https%3A%2F%2Fstripe.com&amp;referrer=https%3A%2F%2Fstripe.com%2Fdocs%2Fstripe-js&amp;controllerId=__privateStripeController1"
                      title="Secure payment input frame"></iframe><input class="__PrivateStripeElement-input"
                      aria-hidden="true" aria-label=" " autocomplete="false" maxlength="1"></div>
                </div>
              </div>
              <!-- Submit payment -->
              <div class="stripe-form-row my-3">
                <button id="stripeBtn" class="btn-success">Submit Payment</button>
              </div>
              <!--Payment alerts -->
              <div id="card-errors" role="alert"></div>
            </form>
          </div>
        </div>
      </div>


    </div>

  </div>
</main>

{% endblock content %}

{% block postloadjs %}

<script src="{% static 'js/stripe_elements.js' %}"></script>

{% endblock %}