{% extends "base.html" %}
{% load static %}

<!-- Page title -->
{% block title %} 403 CSRF error {% endblock %}

{% block content %}
    <section>
        <!-- 403 error container -->
        <div class="container no-review text-center mt-4 ">
            <div class="bg-light col-lg-5 col-11 m-auto rounded m-2 p-3 text-dark">
                <h1 class="display-1 fw-bolder text-yellow"> 403 </h1>
                <h2> Forbidden </h2>
                <hr>
                <h2> I'm sorry, something went wrong with this form.<br>
                    Please, try again latter. </h2>

                <button class="btn btn-dark btn-lg fw-bold mt-3 shadow-none" value="Go back!" onclick="history.back()"><i
                        class="fas fa-arrow-circle-left"></i> Back</button>
            </div>
        </div>
    </section>

{% endblock %}