{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Page title -->
{% block extra_title %} Add Box{% endblock %}

{% block content %}
    <section>
        <!-- Product Management container -->
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-10 col-lg-10 col-11 mx-auto">
                    <div class="card p-3" itemscope itemtype="https://schema.org/Product">
                        <h1 class="text-center"><strong>Product Management</strong></h1>
                        <hr>
                        <h2><i class="fas fa-box-open"></i> Add Boxes</h2>
                        <!-- Add Box Details form -->
                        <form method="POST" enctype="multipart/form-data" itemprop="itemListElement">
                            {% csrf_token %}
                            {{ form | crispy}}
                            <div class="text-center">
                                <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2">
                                    <i class="fas fa-arrow-circle-left"></i> Back
                                </a>
                                <button class="btn btn-lg btn-warning mx-2" type="submit">
                                    <i class="fas fa-box-open"></i> Add Box
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}