{% extends "base.html" %}
{% load static %}

{% block extra_title %}Boxes List{% endblock %}

{% block content %}
<div class="container mt-5 px-1" itemscope>
    <div class="row">
        <div class="col-md-10 col-lg-10 col-11 mx-auto">
            <div class="card p-3" itemscope itemtype=" send newsletter">
                <h2 class="text-center"><strong>Product Management</strong></h2>
                <hr><h2 class="text-center"><strong>Boxes</strong></h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Id</th>
                            <th scope="col">Box</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for boxes in object_list %}
                            <th scope="row"></th>
                            <td>{{boxes.id}}</td>
                            <td>{{boxes|title}}</td>
                            <td>{{boxes.box_description}}</td>
                            <td>{{boxes.box_price}}</td>
                            <td><a href="{% url 'edit_box' boxes.id %}" class="btn btn-warning fw-bold">Edit</a></td>
                            <td><a href="{% url 'delete_box' boxes.id %}" class="btn btn-danger fw-bold">Delete</a></td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
                <div class= "text-center">
                <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2"> <i
                    class="fas fa-arrow-circle-left"></i> Back</a> 
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}