{% extends "base.html" %}

{% load static %}
{% load crispy_forms_tags %}

<!-- Page title -->
{% block extra_title %}Edit Box{% endblock %}

{% block content %}

<!-- Product Management container -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-10 col-lg-10 col-11 mx-auto">
            <div class="card p-3">
                <h2 class="text-center"><strong>Product Management</strong></h2>
                <hr>
                <h3> <i class="fas fa-box-open"></i> Edit Box {{box.box_name|title}}</h3>
                <!-- Edit Box Details form -->
                <form method="POST" action="" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <div class="text-center">
                        <button class="btn btn-lg btn-warning mx-2" type="submit">Update Box</button>
                        <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2"> <i
                            class="fas fa-arrow-circle-left"></i> Back</a> 
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}


{% block postloadjs %}
{% endblock %}