{% extends "base.html" %}
{% block jumbotron %}
{% endblock %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block extra_title %}Products{% endblock %}


{% block content %}

<h1 class="text-center m-3 p-3"> Regional Boxes availabe this month </h1>


<div class="row d-flex justify-content-center text-center">
  {% for box in boxes %}
      <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 col-10 gy-4">
          <div class="card border-1">
              {% if box.image %}
              <a href="{% url 'product_details' box.id%}">
                  <img class="card-img-top img-fluid" src="{{ box.image.url }}" alt="{{ box.boxname }}">
              </a>
              {% else %}
              <a href="{% url 'product_details' %}">
                  <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ box.boxname }}">
              </a>
              {% endif %}
              <div class="card-body pb-0">
                  <p class="mb-0">{{ box.boxname }}</p>
                  <p class="mb-0">{{ box.description }}</p>
              </div>
              <div class="card-footer bg-white pt-0 border-0 text-left">
                  <div class="row">
                      <div class="col">
                          <p class="lead mb-0 text-left font-weight-bold"><i class="fa fa-eur text-muted" aria-hidden="true"></i>
                            {{ box.price }}</p>
                          
                          <p class="small mt-1 mb-0">
                              <a class="text-muted" href="">
                                  
                              </a>
                          </p>
                         
                      </div>
                  </div>
              </div>
          </div>
      </div>

{% endfor %}

{% endblock %}