{% extends "base.html" %}
{% load static %}

<!-- Page title -->
{% block extra_title %} Products on Box {% endblock %}

{% block content %}
    <section>
        <!-- Products on box list -->
        <div class="container mt-5 px-1" itemscope>
            <div class="row">
                <div class="col-md-10 col-lg-10 col-11 mx-auto">
                    <div class="card p-3" itemscope itemtype="https://schema.org/ItemList">
                        <h1 class="text-center"><strong>Product Management</strong></h1>
                        <hr>
                        <h2 class="text-center"><strong>Products on Boxes</strong></h2>
                        <!-- Products on box table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" itemprop="elementID">Id</th>
                                    <th scope="col" itemprop="name">Box</th>
                                    <th scope="col" itemprop="description">Product</th>
                                    <th scope="col" itemprop="price">Selectable</th>
                                    <th scope="col" itemprop="price"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for productsonbox in object_list %}
                                    <tr>
                                        <td itemprop="elementID">{{productsonbox.id}}</td>
                                        <td itemprop="elementID">{{productsonbox.box.box_name}}</td>
                                        <td itemprop="name">{{productsonbox.product.product_name|title}}</td>
                                        <td itemprop="name">{{productsonbox.product_selectable|title}}</td>
                                        <td class="text-end">
                                            <a href="{% url 'editproductonbox' productsonbox.id %}"
                                                class="btn btn-warning fw-bold mx-2">Edit
                                            </a>
                                            <a href="{% url 'deleteproductonbox' productsonbox.id %}"
                                                class="btn btn-danger fw-bold mx-2">Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2">
                                <i class="fas fa-arrow-circle-left"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}