{% extends "base.html" %}

{% block jumbotron %}
{% endblock %}

{% load static %}

<!-- Customizible CSS -->

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

<!-- Page title -->
{% block extra_title %}Products{% endblock %}

{% block content %}

<!-- Page title -->
<h1 class="text-center m-3 p-3"> Regional Boxes availabe this month </h1>

<!-- Boxes container -->
<div class="row d-flex justify-content-center text-center">

    {% for box in boxes %}
        <div class="col-sm-6 col-md-5 col-lg-4 col-xl-3 col-10 gy-4">
            <!-- Box card -->
            <div class="card border-1">
                <!-- Box image -->
                {% if box.box_image %}
                    <a href="{% url 'product_details' box.id %}">
                        <img class="card-img-top img-fluid" src="{{ box.box_image.url }}" alt="{{ box.box_name }}">
                    </a>
                {% else %}
                    <a href="">
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ box.box_name }}">
                    </a>
                {% endif %}
                <div class="card-body pb-0">
                    <!-- Box name -->
                    <p class="mb-0">{{ box.box_name }}</p>
                    <!-- Box description -->
                    <p class="mb-0">{{ box.box_description }}</p>
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <!-- Box price -->
                            <p class="lead mb-0 text-left font-weight-bold"><i class="fa fa-eur text-muted"
                                    aria-hidden="true"></i>
                                {{ box.box_price }}
                            </p>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
   
{% endblock %}