{% extends "base.html" %}
{% load static %}

{% block extra_title %}Boxes List{% endblock %}

{% block content %}
<div class="container mt-5 px-1" itemscope>
    <div class="row">
        <div class="col-md-10 col-lg-10 col-11 mx-auto">
            <div class="card p-3" itemscope itemtype=" send newsletter">
                <h2 class="text-center"><strong>Products List</strong></h2>

                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Product</th>
                            <th scope="col">Description</th>
                            <th scope="col">Price</th>
                            <th scope="col"></th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            {% for products in object_list %}
                            <th scope="row"></th>
                            
                            <td>{{products.product_name|title}}</td>
                            <td>{{products.box_description}}</td>
                            <td>{{products.box_price}}</td>
                            <!-- <td><a href="{% url 'edit_product' products.id %}" class="btn btn-warning fw-bold">Edit</a></td>
                            <td><a href="{% url 'delete_product' products.id %}" class="btn btn-danger fw-bold">Delete</a></td> -->
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>
</div>
{% endblock %}