{% extends "base.html" %}

{% load static %}

<!-- Page title -->
{% block extra_title %} Products List{% endblock %}

{% block content %}
    <section>
        <!-- Products list container -->
        <div class="container mt-5 px-1" itemscope>
            <div class="row">
                <div class="col-md-12 col-lg-10 col-11 mx-auto">
                    <div class="card p-3" itemscope itemtype="https://schema.org/ItemList">
                        <h1 class="text-center"><strong>Product Management</strong></h1>
                        <hr>
                        <h2 class="text-center"><strong>Products</strong></h2>
                        <!-- Products List table -->
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col" itemprop="elementID">Id</th>
                                    <th scope="col" itemprop="name">Box</th>
                                    <th scope="col" itemprop="description">Description</th>
                                    <th scope="col" itemprop="price">Price</th>
                                    <th scope="col">Optionss</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for products in object_list %}
                                    <tr>
                                        <td itemprop="elementID">{{products.id}}</td>
                                        <td itemprop="name">{{products|title}}</td>
                                        <td itemprop="description">{{products.product_description|slice:30}}(...)</td>
                                        <td itemprop="price">{{products.product_price}}</td>
                                        <td class="text-end">
                                            <a href="{% url 'product_details' products.id %}"
                                                class="btn btn-success fw-bold m-1">Details
                                            </a>
                                            <a href="{% url 'edit_product' products.id %}"
                                                class="btn btn-warning fw-bold m-1">Edit
                                            </a>
                                            <a href="{% url 'delete_product' products.id %}"
                                                class="btn btn-danger fw-bold m-1">Delete
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <div class="text-center">
                            <a href="{% url 'management' %}" class="btn btn-lg btn-dark mx-2">
                                <i class="fas fa-arrow-circle-left"></i> Back
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}